body{
    background-color: #E5E5DC;
}


.welcome {
    background-color: #6E8783;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}


.welcome li {
    list-style-type: none;
    display: inline;
    padding: 1em;
}


#aboutme {
    display: grid;
    grid-template-columns: 70% 30%;
}


.imgitem {
    margin-top: 6em;
    margin-left: -5em;
    grid-row: 1 / span 1;
    grid-column: 2 / span 1;
}


#wholepara {
    grid-row: 1 / span 1;
    grid-column: 1 / span 1;
}


.paraone {
    margin-top: 4em;
    margin-right: 15em;
}


.paratwo {
    margin-top: 4em;
    margin-right: 15em;
}


.parathree {
    margin-top: 4em;
    margin-right: 15em;
}


.footer {
    background-color: #6E8783;
    text-align: center;
    font-weight: bold;
    margin-top: 8em;
}

/* ------------------------------------------ */

.navigation{
    display: flex;
    flex-direction: column;
    list-style-type: none;
    justify-content: center;
    font-size: 15px;
}

header{
    text-align: center;
    background-color: #6E8783;
}

#wholenav{
    list-style-type: none;
}

.courseLine{
    border-bottom: solid black 3px;
    
}
.courseName{
    padding: 1em;
}





@media screen and (min-width: 600px)
{
    .navigation{
        flex-direction: row;
    }
    .navigation li{
        padding: 1em;
    }
    
    /* .courseName{
        display: grid;
        grid-template-columns: 1fr 2fr;
    }

    .coursedescription{
        grid-column: 2 / 3;
        grid-row: 1 / 1;
    } */
    
}