body{
    background-color: #f0f0f0;
}


header {
    background-color: skyblue;
    text-align: center;
    top: 15px;
    left: 10px;
    right: 10px;
}


header li {
    list-style-type: none;
    display: inline;
    padding: 0.5em;
}

.about_me{
    font-family: 'Montserrat', sans-serif;
}


.navigation{
    background-color: lightblue;
    text-align: center;
}

/* nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
} */

