body{
    background-color: #f0f0f0;
}


h1 {
    color: rgb(71, 81, 148);
}


.about_me{
    font-family: 'Montserrat', sans-serif;
}


.navigation{
    background-color: lightblue;
    text-align: center;
}

